.button {
    background-color: #F5A034;
    color: black;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    display: inline-block;
}

    .button:hover {
        background-color: #BB7B27;
    }

.button2 {
    background-color: #52b788;
    color: black;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    display: inline-block;
}

    .button2:hover {
        background-color: #2d6a4f;
        color: white;
    }
